:root {
  --startColor: hsl(0, 100%, 75%);
  --stopColor: hsl(0, 100%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  --playState: "paused";
}

html, body {
  position: relative;
  height: 100%;
  background-color: #224154;
  text-align: center;/*
  overflow: hidden;*/
  overflow: hidden;
}


.section{
  height: 100vh;
  width: 100vw;
}

#header{
  background-color: #a42b52;
  background: linear-gradient(to bottom, #ffffff, #ff8855); /* Standard syntax */
}

#content1{
  background-color: #224154;
}

#footer{
  background-color: #b3d4fc;
}

#animated-blob{
  position: relative;
  overflow-y: hidden;
}


#true-gradient {
  transform: translate(-7vw, 1vh);
  position: relative;
  width: 100vw;
  height: 100vh;
}

#blob{
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.container .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/my-illustration-background.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 0;
}
.container #particles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.container #particles span {
  display: inline-block;
  position: absolute;
  bottom: 0%;
  border-radius: 50%;
  background-color: #a42b52;
  opacity: 1;
  box-shadow: 0px 0px 10px 5px #a42b52;
  transform: translateX(0%) translateY(0%);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.container .foreground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/my-illustration-foreground.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2;
}

.container2 {
}

.square {
  width: 300px;
  height: 300px;
  background: linear-gradient(to bottom, rgba(240,240,180, 0.2), rgb(169, 83, 51));

  position: absolute;
  transform: rotate(45deg);
  top: 250px;
  left: calc(50vw - 150px);
  animation: squareMove 2.25s;
}

.square2 {
  width: 300px;
  height: 300px;
  opacity: 0;
  position: absolute;
  transform: rotate(
    45deg
  );
  top: 250px;
  left: calc(50vw - 150px);
  animation: pulse 2.5s infinite;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(to bottom, rgba(255,255,255, 0.2), rgba(20, 150, 180, 0.8));

  position: absolute;
  top: 300px;
  left: calc(50vw - 100px);

  animation: circleMove 2s;
}

.text {
  font-family: "helvetica", sans-serif;
  text-transform: uppercase;
  letter-spacing: 32px;
  font-size: 24px;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 388px;
  left: calc(50vw - 176px);

  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: textMove 2.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(45deg);
    box-shadow: 0 0 0 0 rgba(176, 82, 82, 0.7);
  }

  70% {
    transform: scale(1) rotate(45deg);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(1) rotate(45deg);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes squareMove {
  from {top: -500px;}
  to {top: 250px;}
}

@keyframes circleMove {
  from {top: -500px;}
  to {top: 300px;}
}

@keyframes textMove {
  from {top: -500px;}
  to {top: 388px;}
}

.section-title{
  display: block;
  font-size: 5vw;
}

.spaced{
  justify-content: space-between;
  display: inline-flex;
}

.image-container{
  width: 40vw;
  height: 40vh;
  margin: 20vw 2vw 0 8vw;
  /*position: absolute;*/
  top: 90%;
}

.info-container{
  width: 40vw;
  height: 60vh;
  margin: 8vw 2vw 2vw 0;
  color: aliceblue;
  text-align: left;
  font-size: 2vw;
}

.rounded{
  border-radius: 10px;
}

.white{
  background-color: #b3d4fc;
}

